@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    color: #000;
    font: 12px Verdana, sans-serif;
    background-color: #00D8FB;
    }
    
.menu {
        background-color: #02B0F2;
		width: 22%;
		margin: 0px 10px 0px 0px; 
        padding: 0% 0% 40% 0%;
		float: left;
        text-align: center;
        
		}

.menu ul {
    padding-top: 0%; 
}

.menu ul li {
                margin-right:15px;
                padding-top: 20px; 
                text-align: center;
                list-style-type: none;
            
                }

.menu a:link {
                background: #F5F5F5;
                color: #666;
                font-weight: bold;
                text-decoration: none;
                padding: 7px;
                display: block;
                }

.menu a:hover {
                background: #E5F0FF;
                color: #039;
                }

header{ width: 800px;

        }

.header img{
    width: 50%;
    align-content: center;
    border-radius: 8px;
    height: 135px;
    margin:0;
    padding-left: 160px;
}

.main{  
        text-align: center;
        background-color: aliceblue;
        border-radius: 8px;
        margin-left: 474px;
        margin-top: 30px;
        padding: 0px 0px 2px 0px;
        width:700px;
        height: auto;   
	}

form label{
     text-align: center;
     margin: 0px;
     padding: 8px;
}

.botao{
    margin: 15px 10px 0px 0px;
    padding: 4px;
}

.mapa{
        text-align: center;
        background-color: aliceblue;
        border-radius: 8px;
        margin-left: 474px;
        margin-top: 30px;
        padding: 0px 0px 5px 0px;
        width:700px; 
}

div.descric{
        border-radius: 8px;
        background-color: #02B0F2;
        width: 680px;
        margin-left: 10px;
        padding: 0px;
}
    
.footer{
        background-color: white;
        border-radius: 8px;
        width: 260px;
        margin-left: 474px;
        margin-top: 50px;
        padding-right:0px;
        text-align: left;
}